[Unit]
Description=Observability Platform - Federation Collector Timer
Requires=federation-collector.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min

[Install]
WantedBy=timers.target
