[Unit]
Description=Observability Platform - Firefox GPU Monitor Timer
Requires=firefox-gpu-monitor.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min

[Install]
WantedBy=timers.target
